
@using PagedList.Mvc
@model PagedList.PagedList<Online_Education.Areas.Admin.Models.KhoaHoc>
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h1 id="title" style="display:none">@ViewBag.Title</h1>
@section AllCourse{
    <!-- Page breadcrumb -->
    <section id="mu-page-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>Course</h2>
                        <ol class="breadcrumb">
                            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li class="active">Khóa học</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb -->
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-9">
                                <!-- start course content container -->
                                <div class="mu-course-container">

                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            <div class="col-md-6 col-sm-6">
                                                <div class="mu-latest-course-single">
                                                    <figure class="mu-latest-course-img">
                                                        <a href="/khoa-hoc/@item.MetaTitle-@item.ID"><img src="@Url.Content("~/HinhAnh/"+item.Anh)" alt="img" style="height:220px"></a>
                                                        <figcaption class="mu-latest-course-imgcaption">
                                                            <a href="@Url.Action("CourseDetail","Course")">@item.TenKhoaHoc</a>
                                                            <span><i class="fa fa-clock-o"></i>@item.ThoiGianBatDau</span>
                                                        </figcaption>
                                                    </figure>
                                                    <div class="mu-latest-course-single-content">
                                                        <h4><a href="@Url.Action("CourseDetail","Course")">Lorem ipsum dolor sit amet.</a></h4>
                                                        @item.MoTa
                                                        <div class="mu-latest-course-single-contbottom">
                                                            <a class="mu-course-details" href="#">Details</a>
                                                            <span class="mu-course-price" href="#">@item.HocPhi</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }


                                    </div>
                                </div>
                                <!-- end course content container -->
                                <!-- start course pagination -->
                                <div class="mu-pagination">
                                    <nav>

                                        <ul class="pagination">

                                            @Html.PagedListPager(Model, page => Url.Action("Course", new { page = page }))

                                        </ul>
                                    </nav>
                                </div>
                                <!-- end course pagination -->
                            </div>
                            @{ Html.RenderAction("Sidebar", "Home");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}

