<!DOCTYPE html>

<html>
<head>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Studies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Content/Front_End/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/Content/Front_End/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <!-- Custom CSS Group 8-->
    <link href="~/Content/Front_End/css/custom_css.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link href="~/Content/Front_End/css/font-awesome.css" rel="stylesheet" />


    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/Front_End/css/slick.css">
    <!-- banner slider -->
    <link rel="stylesheet" href="~/Content/Front_End/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/Content/Front_End/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext"
          rel="stylesheet">
    <!-- //Web-Fonts -->
</head>
<body>
    <!--Sticky Left-->
    <ul class="sticky-left">
        <li><a href="#"><i class="fa fa-search fa-3x"></i></a></li>
        <li><a href="https://www.facebook.com/groups/719130598221169/"><i class="fa fa-facebook fa-3x fa-fb"></i></a></li>
        <li><a href="mailto:quocthai0099@gmail.com?cc=Hi-We-Want-To-Contact-To-You&bcc=Form-Me&subject=big-new&body=Have-a-nice-day "><i class="fa fa-envelope fa-3x"></i></a></li>
    </ul>
    <!-- //Sticky Left-->
    <!-- navigation -->
    <div class="main-top">
        <div class="d-lg-flex menu-top">
            <!-- logo -->
            <h1 class="logo-style-res float-left">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="~/Content/Front_End/my_images/logo_DLU.png" alt="" class="img-fluid logo-img" style="height:93px">
                </a>
            </h1>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls mx-lg-auto">
                <nav>
                    <label for="drop" class="toggle" style="background-color:forestgreen;color:white;font-weight:bold"><i class="fa fa-bars" aria-hidden="true"></i></label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mx-lg-auto">
                        <li><a id="Index1" href="@Url.Content("~/Home/Index")">Trang chủ</a></li>
                        <li><a id="Introduce1" href="@Url.Action("Introduce","Home")">Giới thiệu</a></li>
                        <li><a id="Professiors1" href="@Url.Action("Professiors","Home")">Giảng viên</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toogle-2">
                                Pages <span class="fa fa-angle-down" aria-hidden="true" style="background-color:forestgreen"></span>
                            </label>
                            <a id="Course1" href="@Url.Action("Course","Home")">Khóa học <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul @*style="background-color:#228b22c9"*@>
                                <li><a href="#professors" class="drop-text">JavaScipt</a></li>
                                <li><a href="#blog" class="drop-text">CSharp</a></li>
                                <li><a href="#who" class="drop-text">HTML</a></li>
                                <li><a href="#testi" class="drop-text">React</a></li>
                            </ul>
                        </li>
                        <li><a id="Gallery1" href="@Url.Action("Gallery","Home")">Ảnh</a></li>
                        <li><a id="Contact1" href="@Url.Action("Contact","Home")">Liên hệ</a></li>
                        <li class="dn"><a href="@Url.Action("Index","Login")">Đăng nhập</a></li>
                        <li class="dk"><a href="@Url.Action("Register","Login")">Đăng ký</a></li>

                    </ul>
                </nav>
            </div>
            <!-- //nav -->
            <!-- dwn -->
            <div class="text-center area-btn" style="padding:25px 0;">
                <a href="@Url.Action("Index","Login")" class="btn btn-success text-wh mt-lg-0 mt-2">
                    <span class="fa fa-user-o text-wh mr-2"></span>Đăng nhập
                </a>
                <a href="@Url.Action("Register","Login")" class="btn btn-danger text-wh mt-lg-0 mt-2">
                    <span class="fa fa-openid text-wh mr-2"></span>Đăng ký
                </a>
            </div>
            <!-- //dwn -->
        </div>
    </div>
    <!-- //navigation -->
    <!-- //header 2 -->
    <!--Short nav-->
    <div class="short-menu">
        <div class="container d-lg-flex">
            <!-- logo -->
            <a href="index.html" style="margin-top:0.3rem;margin-left:7%">
                <img src="~/Content/Front_End/my_images/logo_DLU1.png" alt="" class="img-fluid logo-img" style="height:30px">
            </a>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls mx-lg-auto short-ul">
                <nav>
                    <label for="drop" class="toggle" style="background-color:forestgreen;color:white;font-weight:bold"><i class="fa fa-bars" aria-hidden="true"></i></label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mx-lg-auto">
                        <li><a id="Index" href="@Url.Content("~/Home/Index")">Trang chủ</a></li>
                        <li><a id="Introduce" href="@Url.Action("Introduce","Home")">Giới thiệu</a></li>
                        <li><a id="Professiors" href="@Url.Action("Professiors","Home")">Giảng viên</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toogle-2">
                                Pages <span class="fa fa-angle-down" aria-hidden="true"></span>
                            </label>
                            <a id="Course" href="@Url.Action("Course","Home")">Khóa học <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul @*style="background-color:#228b22c9"*@>
                                <li><a href="#professors" class="drop-text">JavaScipt</a></li>
                                <li><a href="#blog" class="drop-text">CSharp</a></li>
                                <li><a href="#who" class="drop-text">HTML</a></li>
                                <li><a href="#testi" class="drop-text">React</a></li>

                            </ul>
                        </li>
                        <li><a id="Gallery" href="@Url.Action("Gallery","Home")">Ảnh</a></li>
                        <li><a id="Contact" href="@Url.Action("Contact","Home")">Liên hệ</a></li>
                        <li class="dn"><a href="@Url.Action("Index","Login")">Đăng nhập</a></li>
                        <li class="dk"><a href="@Url.Action("Register","Login")">Đăng ký</a></li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
            <!-- dwn -->
            <div class="text-center area-btn" style="padding:0;">
                <a href="@Url.Action("Index","Login")" style="color:white;background-color:transparent;outline:none" class="btn btn-success">
                    <span class="fa fa-user-o"></span>
                </a>
                <a href="@Url.Action("Register","Login")" style="color:white;background-color:transparent" class="btn btn-success">
                    <span class="fa fa-openid"></span>
                </a>
            </div>
            <!-- //dwn -->
        </div>
    </div>
    <!-- Body -->
    @RenderBody()
    <!-- //Body-->
    <!-- // Short nav-->
    <!-- banner -->
    @RenderSection("NivoSlider", false)
    <!-- //banner -->
    <!-- banner bottom grids -->
    @RenderSection("bottom_grids", false)

    <!-- //banner bottom grids -->
    <!-- Course -->
    @RenderSection("course", false)
    @RenderSection("Coursedetail", false)
    <!-- //Course -->
    <!-- about -->
    @RenderSection("about", false)

    <!-- //about -->
    <!-- gallery -->
    @RenderSection("gallery", false)

    <!-- //gallery -->
    <!-- professors -->
    @RenderSection("professiors", false)

    <!-- //professors -->
    <!-- who we are -->
    @RenderSection("who", false)

    <!-- //who we are -->
    <!-- testimonials -->
    @*@RenderSection("quote",false)
        <section class="clients" id="testi">
            <div class="row no-gutters pb-4">
                <div class="col-lg-6 col-md-8 left-test-w3pvt p-sm-5 p-4">
                    <div class="my-4 py-xl-5 py-lg-3">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <span class="text-white">
                                    - Ăn ngủ và lăn ra code<br />
                                    - Code chán thì đi đá banh <br />
                                    - Đá banh chán thì qua phòng gái <br />
                                </span>
                                <h4 class="mt-4 text-wh font-weight-bold mb-4">Văn lành</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4"></div>
            </div>
        </section>*@
    <!-- //testimonials -->
    <!-- contact -->
    @RenderSection("contact", false)
    <hr />

    <!-- //contact -->
    <!-- brands -->
    @RenderSection("brands", false)
    <section class="brands pt-5">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-2 col-4 main-brand bg-transparent">
                    <a href="#"><img src="~/Content/Front_End/my_images/js-logo.png" class="img-fluid logo-img" alt="" /></a>
                </div>
                <div class="col-md-2 col-4 main-brand bg-transparent">
                    @*<span class="fa fa-gg mb-3" aria-hidden="true"></span>*@
                    <img src="~/Content/Front_End/my_images/csharp-logo.png" class="img-fluid logo-img" alt="" />
                </div>
                <div class="col-md-2 col-4 main-brand bg-transparent">
                    @*<span class="fa fa-lastfm mb-3" aria-hidden="true"></span>*@
                    <img src="~/Content/Front_End/my_images/html-logo.png" class="img-fluid logo-img" alt="" />
                </div>
                <div class="col-md-2 col-4 main-brand bg-transparent">
                    <img src="~/Content/Front_End/my_images/bootstrap-logo.png" class="img-fluid logo-img" alt="" />
                </div>
                <div class="col-md-2 col-4 main-brand bg-transparent">
                    <img src="~/Content/Front_End/my_images/react-logo.png" class="img-fluid logo-img" alt="" />
                </div>
                <div class="col-md-2 col-4 main-brand bg-transparent">
                    <img src="~/Content/Front_End/my_images/nodejs-logo.png" class="img-fluid logo-img" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- //brands -->
    <!-- footer -->
    <footer class="bg-colors py-5">
        <div class="container py-xl-4">
            <div class="row footer-grids">
                <div class="col-lg-2 col-sm-4 footer-grid">
                    <h3 class="mb-sm-4 mb-3 pb-lg-3">Trang Chủ</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Content("~/Home/Index")">Trang chủ</a>
                        </li>
                        <li class="my-2">
                            <a class="scroll" href="">Giới thiệu</a>
                        </li>
                        <li>
                            <a class="scroll" href="#services">Khóa học</a>
                        </li>
                        <li class="my-2">
                            <a class="scroll" href="#gallery">Ảnh</a>
                        </li>
                        <li>
                            <a class="scroll" href="#contact">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 footer-grid mt-sm-0 mt-4">
                    <h3 class="mb-sm-4 mb-3 pb-lg-3"> Liên kết</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a class="scroll" href="#who">Chúng tôi là ai</a>
                        </li>
                        <li class="my-2">
                            <a class="scroll" href="#blog">Khóa học mới nhất</a>
                        </li>
                        <li>
                            <a class="scroll" href="#professors">Chuyên gia</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 footer-grid mt-sm-0 mt-4">
                    <h3 class="mb-sm-4 mb-3 pb-lg-3">Yêu thích</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a class="scroll" href="#who">Chơi game</a>
                        </li>
                        <li class="my-2">
                            <a class="scroll" href="#blog">Phá team</a>
                        </li>
                        <li>
                            <a class="scroll" href="#professors">Gánh đội bạn</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 footer-grid mt-lg-0 mt-4">
                    <div class="address">
                        <div class="row address-grid">
                            <div class="col-md-3 col-sm-4 col-2 address-left text-center">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="col-md-9 col-sm-8 col-10 address-right">
                                <p>(+84)12345602197</p>
                            </div>
                        </div>
                        <div class="row address-grid my-3">
                            <div class="col-md-3 col-sm-4 col-2 address-left text-center">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="col-md-9 col-sm-8 col-10 address-right">
                                <p>
                                    <a href="mailto:quocthai0099@gmail.com"> quocthai0099@gmail.com</a>
                                </p>
                                <p>
                                    <a href="mailto:rinhnguyen535@gmail.com"> rinhnguyen@gmail.com</a>
                                </p>
                                <p>
                                    <a href="mailto:thanhha.it.1905@gmail.com"> thanhha.it.1905@gmail.com</a>
                                </p>
                            </div>
                        </div>
                        <div class="row address-grid">
                            <div class="col-md-3 col-sm-4 col-2 address-left text-center">
                                <i class="fa fa-map"></i>
                            </div>
                            <div class="col-md-9 col-sm-8 col-10 address-right">
                                <p> Số 1, Phù Đổng Thiên Vương, Phường 8 <br> Đà Lạt, Việt Nam </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 footer-grid footer-contact mt-lg-0 mt-4">
                    <h3 class="mb-sm-4 mb-3 pb-lg-3"> Liên hệ</h3>
                    <ul class="list-unstyled">
                        <li>
                            (+84)3499997622
                        </li>
                        <li class="mt-2">
                            <a href="mailto:info@example.com">nhom8_ctk39@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copyright-w3ls py-4">
        <div class="container">
            <div class="row">
                <!-- copyright -->
                <p class="col-lg-8 copy-right-grids text-bl text-lg-left text-center mt-lg-2">
                    © 2019 Studies. All
                    Rights Reserved | Design by
                    <a href="https://github.com/Beggar-k39/Nhom8_CTK39" target="_blank" class="text-colors">Nhom8_CTK39</a>
                </p>
                <!-- //copyright -->
                <!-- social icons -->
                <div class="col-lg-4 w3social-icons text-lg-right text-center mt-lg-0 mt-3">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/groups/719130598221169/" target="_blank" class="rounded-circle">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="px-2">
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li class="pl-2">
                            <a href="#" class="rounded-circle">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //social icons -->
            </div>
        </div>
        <!-- //copyright -->
        <!-- move top icon -->
        <a href="#" class="move-top text-center"></a>
        <!-- //move top icon -->
    </div>
    <!--Script Custom Group 8-->
    <script src="~/Content/Front_End/js/custom_js.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/nivo-slider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Content/nivo-slider/jquery.nivo.slider.pack.js"></script>


    <!--jQuery library -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Content/Front_End/js/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Content/Front_End/js/waypoints.js"></script>
    <script type="text/javascript" src="~/Content/Front_End/js/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Content/Front_End/js/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Content/Front_End/js/jquery.fancybox.pack.js"></script>


    <!-- Custom js -->
    <script src="~/Content/Front_End/js/custom.js"></script>
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#slider').nivoSlider(
                {
                    controlNav: false,
                    directionNav: false,
                    pauseTime: 3000,
                    pauseOnHover: false,
                });

            //alert($('#title').text());
            // Active Menu
            var x = $('#title').text();
            var str = "#" + x;
            var str1 = str + "1";
            $(str).addClass('text-wh');
            $(str1).addClass('text-wh');
            // End Active Menu
        });
    </script>
    @RenderSection("script", required: false)
    <!-- // End Script Custom Group 8-->
</body>
</html>
