


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />

    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">

    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/Content/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Custom CSS Group 8-->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Start header  -->
    <header id="mu-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-header-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-left">
                                    <div class="mu-top-email">
                                        <i class="fa fa-envelope"></i>
                                        <span>thanhha.it.1905@gmail.com</span>
                                    </div>
                                    <div class="mu-top-phone">
                                        <i class="fa fa-phone"></i>
                                        <span>(035) 999 9999</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="mu-header-top-right">
                                    <nav>
                                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <span class="user-info">
                                                    <b>Chào, </b>
                                                    <span>@User.Identity.Name</span>
                                                </span>
                                            }
                                            <i class="ace-icon fa fa-caret-down"></i>
                                        </a>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                                        @if (Session["IDChucVu"].ToString() != "3")
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "Home", new { area = "Admin" })">
                                                    <i class="ace-icon fa fa-cog"></i>
                                                    AdminPage
                                                </a>
                                            </li>
                                        }





                                        <li>
                                            <a href="@Url.Action("Index","Info")">
                                                <i class="ace-icon fa fa-user"></i>
                                                Profile
                                            </a>
                                        </li>

                                        <li class="divider"></li>

                                        <li>
                                            <a href="@Url.Content("~/Login/Logout")">
                                                <i class="ace-icon fa fa-power-off"></i>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                        }
                                        else
                                        {
                                            <ul class="mu-top-social-nav">
                                                <li>
                                                    <a href="@Url.Action("Index", "Login")" style="color:black;background-color:transparent;outline:none" class="btn btn-success">
                                                        <span class="fa fa-user-o"> ĐĂNG NHẬP</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Register", "Login")" style="color:black;background-color:transparent" class="btn btn-success">
                                                        <span class="fa fa-openid"> ĐĂNG KÝ</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        }


                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header  -->
    <!-- Start search box -->
    <div id="mu-search">
        <div class="mu-search-area">
            <button class="mu-search-close"><span class="fa fa-close"></span></button>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="mu-search-form">
                            <input type="search" placeholder="Nhập từ khóa">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End search box -->
    <!-- Start menu -->
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><i class="fa fa-university"></i><span>DALAT UNIVERSITY</span></a>
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <li id="Index1"><a id="Index" href="@Url.Action("Index","Home")">TRANG CHỦ</a></li>
                        <li id="Course1"><a id="Course" href="@Url.Action("Course","Home")">KHÓA HỌC</a></li>
                        <li id="Gallery1"><a id="Gallery" href="@Url.Action("Gallery","Home")">ẢNH</a></li>
                        <li id="Gallery1"><a id="Gallery" href="@Url.Action("Professiors","Home")">GIẢNG VIÊN</a></li>
                        <li id="Contact1"><a id="Contact" href="@Url.Action("Contact","Home")">LIÊN HỆ</a></li>
                        @*<li><a href="404.html">404 Page</a></li>*@
                        <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Body -->
    @RenderBody()
    <!-- //Body-->
    <!-- Slider -->
    @RenderSection("Slider", false)
    <!-- // Slider -->
    <!-- Start service  -->
    @RenderSection("Service", false)
    <!-- End service  -->
    <!-- Start about us -->
    @RenderSection("About", false)
    <!-- End about us -->
    <!-- Start about us counter -->
    @RenderSection("Counter", false)
    <!-- End about us counter -->
    <!-- Start features section -->
    @RenderSection("Features", false)
    <!-- End features section -->
    @RenderSection("Course", false)
    @RenderSection("Teacher", false)
    @RenderSection("Contact", false)
    @RenderSection("Gallery", false)
    @RenderSection("AllCourse", false)
    @RenderSection("Coursedetail", false)
    @RenderSection("professiors", false)

    <!-- //professors -->
    <!-- who we are -->
    @RenderSection("who", false)

    <!-- //who we are -->
    <!-- Start footer -->
    <footer id="mu-footer" style="padding-top:3%">
        <!-- start footer top -->
        <div class="mu-footer-top">
            <div class="container">
                <div class="mu-footer-top-area">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Trang Chủ</h4>
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                    <li><a href="@Url.Action("Course","Home")">Khóa học</a></li>
                                    <li><a href="@Url.Action("Gallery","Home")">Ảnh</a></li>
                                    <li><a href="@Url.Action("Index","Home")">Giới thiệu</a></li>
                                    <li><a href="@Url.Action("Contact","Home")">Liên hệ</a></li>


                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Liên Kết</h4>
                                <ul>
                                    <li><a href="">Chúng tôi là ai</a></li>
                                    <li><a href="#">Khóa học mới nhất</a></li>
                                    <li><a href="">Chuyên gia</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Yêu thích</h4>
                                <ul>
                                    <li><a>Chơi Game </a> </li>
                                    @*<form class="mu-subscribe-form">
                                        <input type="email" placeholder="Type your Email">
                                        <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                                         </form>*@
                                    <li> <a>Phá team  </a></li>
                                    <li> <a>Gánh đội bạn </a> </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-footer-widget">
                                <h4>Liên hệ</h4>
                                <address>
                                    <p>
                                        Số 1, Phù Đổng Thiên Vương, Phường 8
                                        Đà Lạt, Việt Nam
                                    </p>
                                    <p>Điện Thoại: (+84)359999999</p>
                                    <ul>
                                        <li>
                                            <p>Email: thanhha.it.1905@gmail.com</p>
                                        </li>
                                        <li>
                                            <p>quocthai0099@gmail.com</p>
                                        </li>
                                    </ul>

                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer top -->
        <!-- start footer bottom -->
        <div class="mu-footer-bottom">
            <div class="container">
                <div class="mu-footer-bottom-area">
                    <p>&copy; 2019 Studies. All Right Reserved. Designed by <a href="" rel="nofollow">Nhom08_CTK39</a></p>
                </div>
            </div>
        </div>
        <!-- end footer bottom -->
    </footer>
    <!-- End footer -->
    <!-- jQuery library -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/js/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="~/Content/js/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/Content/js/waypoints.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="~/Content/js/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>


    <!-- Custom js -->
    <script src="~/Content/js/custom.js"></script>


    <script type="text/javascript">
        $(window).on('load', function () {
            //alert($('#title').text());
            // Active Menu
            var x = $('#title').text();
            var str = "#" + x;
            var str1 = str + "1";
            $(str).addClass('active');
            $(str1).addClass('active');
            // End Active Menu
        });

    </script>

    @RenderSection("script", required: false)
</body>
</html>
